.item {
  color: white;
  opacity: 0.9;
  position: relative;

  &:hover {
    cursor: pointer;
    opacity: 1;
    &:after {
      width: 50%;
      transition: 0.4s ease all;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 150%;
    height: 2px;
    width: 0%;
    left: 25%;
    background-color: white;
    transition: 0.2s ease all 0.1s;
  }
}
