@import "_variables";

.container {
  display: flex;
  width: 100%;
  height: 100%;
  @media (max-width: 870px) {
    max-width: 375px;
    flex-direction: column;
    height: 770px;
  }
  .imageContainer {
    flex: 3;
    max-width: 840px;
    transition-duration: 1s;
    @media (max-width: 870px) {
      flex: 36;
    }
  }
  .textContainer {
    flex: 2;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 870px) {
      flex: 41;
    }
    .textBox {
      width: 400px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 870px) {
        width: 320px;
        height: 270px;
      }
      h1 {
        font-weight: 600;
        font-size: 36px;
        @media (max-width: 870px) {
          font-size: 24px;
        }
      }
      article {
        font-weight: 500;
        color: $darkgray;
        line-height: 18px;
      }
      a {
        margin-top: 30px;
        font-size: 14px;
        letter-spacing: 8px;
        @media (max-width: 870px) {
          font-size: 12px;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    .arrowsContainer {
      position: absolute;
      bottom: 0px;
      left: 0px;
      display: flex;
      @media (max-width: 870px) {
        top: -55px;
        left: 265px;
      }
      .arrowButton {
        width: 80px;
        height: 80px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
        @media (max-width: 870px) {
          width: 55px;
          height: 55px;
        }
      }
    }
  }
}
